.couponselect {
  margin: 20px;
}
.addButtonAndSelect {
  margin-left: 150px;
}
.menuline {
  font-size: 17px;
  font-weight: 600;
  padding: 0px 80px;
  letter-spacing: 1px;
}
.createClass {
  margin: 0px 0px 20px 100px;
}
