//商品分类部分
.dictionaryclassifytitle {
  font-weight: 400;
  padding: 0 0 10px 10px;
  border-bottom: 1px solid #bbb;
}
.dictionaryclassify-create {
  padding: 6px;
  border-bottom: 1px dotted #bbb;
  overflow: hidden;
}
.create {
  float: right;
  font-size: 12px;
}
.el-tree {
  width: 50%;
  float: left;
  border: 0;
}
.dictionaryclassify-operation {
  float: right;
  padding-top: 10px;
}
.dictionaryclassify-operation >li{
  float: left;
  font-size: 12px;
  cursor: pointer;
}
.dictionaryclassify-operation >li>i{
padding-right: 20px;
}
.el-icon-plus:before,.el-icon-delete:before,.el-icon-edit:before,.el-icon-arrow-up:before{
  padding-right: 8px;
  font-size: 14px;
}
//商品品牌部分
.dictionaryclassify-main .dictionarybrand-content {
  width:50%;
  float: left;
  border:0;
}
.dictionaryclassify-main .dictionarybrand-content li {
  padding:10px;
  font-size: 12px;
}
//商品标签部分
.dictionarylabel-introduce {
  padding:15px;
  font-size: 12px;
}
.label {
  width:15%;
  padding:30px 10px 0px 0;
}
.label-content {
  overflow: hidden;
}
.label-operation {
  float: right;
  margin-right: 150px;
}
