.login-container {
  background-size: cover;
  width: 100%;
  height: 100%;
}
.login-container > .login-box {
  width: 400px;
  height: 400px;
  background: rgba(196, 228, 196, 0.95);
  position: absolute;
  bottom: 10%;
  right: 5%;
  margin: auto;
  border-radius: 10px;
  padding: 0 65px;
  letter-spacing: 0.5px;
}
.login-container > .login-box > .login-ivis-div {
  text-align: center;
  padding: 60px 0;
}
.login-container > .login-box .form-input {
  width: 420px;
}
.login-container > .login-box .verify-code {
  margin-left: 10px;
}
.login-container > .login-box .login-btn {
  width: 270px;
  background-color: #259b24;
}
.login-container > .login-box .register-btn {
  width: 420px;
  margin-top: 20px;
  margin-left: 0;
}
.login-container > .login-box .forget-btn {
  margin: 30px auto 0 auto;
  display: block;
}
.login-container > .login-box .forgetPwd {
  display: inline-block;
  border-left: 1px solid #ccc;
  padding-left: 20px;
  height: 37px;
  margin-left: 68px;
}
* {
  box-sizing: border-box;
  font-family: 'Microsoft YaHei';
  padding: 0;
  margin: 0;
  border: 0;
}
html {
  width: 100%;
  height: 100%;
}
p {
  font-size: 14px;
}
body {
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.request-form .long-input {
  width: 330px;
}
.request-form .form-input {
  width: 200px;
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #20a0ff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
}
.avatar {
  width: 120px;
  height: 120px;
  display: block;
}
.header-left-div {
  float: left;
  height: 50px;
}
.header-left-div > .header-left-logo-div {
  width: 50px;
  border-right: 1px solid #2c3034;
}
.header-left-div > .header-left-logo-div img {
  width: 40px;
  margin-top: 7px;
}
.header-left-div > .header-left-homepage-div {
  width: 110px;
  border-right: 1px solid #2c3034;
}
.header-left-div > .header-left-homepage-div span {
  margin-left: 6px;
}
.header-right-div {
  float: right;
  height: 50px;
  overflow: hidden;
}
.header-right-div > div {
  float: left;
  border-left: 1px solid #2c3034;
}
.header-right-div > .header-right-help-div {
  width: 50px;
  line-height: 50px;
}
.header-right-div > .header-right-avatar-div {
  width: 80px;
}
.header-right-div > .header-right-avatar-div .avater-div {
  border: 2px solid rgba(0, 0, 0, 0.16);
  border-radius: 40px;
  width: 40px;
  height: 40px;
  margin: 5px auto;
  overflow: hidden;
  cursor: pointer;
}
.header-right-div > .header-right-avatar-div .avater-div img {
  width: 100%;
  height: 100%;
}
.index-right-menu {
  background-color: #4f5257;
  float: left;
  color: white;
  width: 180px;
  margin-left: 0px;
  position: relative;
}
.index-right-menu > .right-menu-title {
  height: 72px;
  line-height: 72px;
  background-color: #383d41;
  padding-left: 30px;
}
.index-right-menu > .right-menu-item-div > .items a {
  height: 40px;
  padding-left: 30px;
  line-height: 40px;
  cursor: pointer;
  font-size: 14px;
  display: block;
  color: white;
}
.index-left-small-menu {
  background-color: #333745;
  float: left;
  color: white;
  width: 50px;
}
.index-left-small-menu > .index-logo {
  height: 30px;
  text-align: center;
  cursor: pointer;
}
.index-left-small-menu > .menu-item-div {
  height: 40px;
  width: 50px;
  line-height: 40px;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  text-align: center;
}
.index-left-menu {
  background-color: #333745;
  float: left;
  color: white;
  width: 160px;
}
.index-left-menu > .index-logo {
  height: 30px;
  text-align: center;
  cursor: pointer;
}
.index-left-menu > .menu-item-div i {
  margin-left: 30px;
}
.container {
  overflow: hidden;
}
.container > .wrapper {
  background-color: #fff;
  height: 100%;
  overflow: auto;
}
.container > .wrapper .page-title {
  margin: 0 auto 20px auto;
  text-align: center;
}
.container > .wrapper .item-title {
  margin-bottom: 20px;
}
.index-top-icon-div {
  overflow: hidden;
  margin-bottom: 20px;
}
.index-top-icon-div > .icon-p {
  float: right;
  margin-right: 10px;
}
.stockdetail-form .long-input {
  width: 330px;
}
.stockdetail-form .form-input {
  width: 200px;
}
.goodshouse-form .long-input {
  width: 330px;
}
.goodshouse-form .form-input {
  width: 200px;
}
.goodshouse-easyform .long-input {
  width: 330px;
}
.goodslist-check-div {
  margin-bottom: 20px;
  padding-left: 20px;
}
.addGoods-top {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
.addGoods-top-detp {
  float: left;
  width: 50%;
}
.addGoods-top-title {
  float: left;
  padding-right: 500px;
  letter-spacing: 1px;
}
.addGoods-top-step1 {
  color: #aaaaaa;
  font-size: 12px;
}
.wrapper {
  overflow: hidden;
}
.addGoods-classify {
  width: 80%;
  float: left;
  border: 1px dashed #ccc;
  margin: 100px 75px 10px 220px;
}
.addGoods-classify-left {
  width: auto;
}
.addGoods-classify-title-left {
  height: 430px;
  border-top: 1px dashed #ccc;
  padding: 10px;
}
.addGoods-classify-title {
  padding: 35px 0px 10px 20px;
  border-bottom: 1px solid #f2f0f2;
  color: #67c23a;
}
.classify-list {
  width: 318px;
  height: 420px;
  border-right: 1px solid #ccc;
  padding: 25px 0px 25px 35px;
  overflow: auto;
}
.classify-list li {
  height: 60px;
  cursor: pointer;
}
.classify-list li:hover,
.classify-list li:after {
  color: #00a2d4;
}
.addGoods-info-title {
  font-size: 15px;
  padding: 30px 0px 20px 30px;
}
.addGoods-info-main-item1 {
  padding: 20px 0px 0px 40px;
  margin: 0;
}
.addGoods-info-main-operation {
  float: right;
  padding: 30px;
}
.el-icon-plusDetail {
  padding-left: 60px;
}
.form-input {
  width: 300px;
}
.addGoods-spec-checkbox {
  color: #000;
  width: 100%;
  padding: 20px 0px 25px 30px;
  border-bottom: 1px solid #bbbbbb;
}
.addGoods-spec-info {
  padding: 20px 200px ;
  border-bottom: 1px solid #bbb;
}
.addGoods-spec-info-span1 {
  padding-right: 67%;
}
.addGoods-spec-info-span2 {
  text-align: right;
}
.addGoods-spec-name {
  width: 40%;
  float: left;
  height: 74px;
  padding: 25px 0px 0px 90px;
  border-bottom: 1px solid #bbb;
}
.addGoods-spec-value {
  width: 60%;
  float: left;
  padding: 22px 0 0 0;
  border-bottom: 1px solid #bbb;
}
.addGoods-spec-buttonDetail {
  margin-top: 20px;
  color: #000;
}
.icon-add:before {
  padding-right: 10px;
  font-size: 20px;
  font-weight: 600;
}
.el-icon-minus:before {
  color: #000;
}
.addGoods-info-goodsimgs {
  overflow: hidden;
  padding: 10px 0px 0px 108px;
}
.addGoods-info-goodsimgs-img {
  float: left;
}
.isOrNotCommon {
  float: left;
  margin: 0px 15px;
}
.addGoods-info-five {
  float: left;
  color: #bbbbbb;
}
.basicInfo {
  display: inline-block;
  width: 150px;
  font-size: 14px;
}
.basicinfo-five {
  width: 240px;
}
.goodsinout-detail-top {
  margin-bottom: 20px;
}
.goodsinout-detail-top > .left {
  float: left;
  overflow: hidden;
}
.goodsinout-detail-top > .left > p {
  float: left;
  margin-left: 30px;
}
.goodsinout-detail-top > .left > p:first-child {
  margin: 0;
}
.goodsinout-detail-top > .right {
  float: right;
}
.goodsinout-detail-bottom > p {
  margin: 20px 0;
}
.goodssummary-div {
  height: 100px;
  display: none;
}
.order-table-total {
  float: right;
  margin-top: 10px;
  overflow: hidden;
  font-size: 14px;
}
.order-table-total > .top {
  overflow: hidden;
}
.order-table-total > .top > .checkbox {
  float: left;
  margin-right: 10px;
  line-height: 40px;
}
.order-table-total > .top > .input {
  float: left;
  width: 100px;
  margin-right: 10px;
  line-height: 40px;
}
.order-table-total > .top > .p {
  float: left;
  line-height: 40px;
}
.order-table-total > .bottom {
  overflow: hidden;
  float: right;
  margin-right: 10px;
  margin-top: 20px;
}
.order-table-total > .bottom > .first-p {
  float: left;
}
.order-table-total > .bottom > .second-p {
  float: left;
  color: red;
  font-size: 20px;
  line-height: 20px;
}
.error-div {
  width: 500px;
  height: 500px;
  font-size: 14px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.upload-tag {
  overflow: hidden;
  width: 50%;
}
.upload-tag .left {
  float: left;
}
.upload-tag .right {
  float: right;
}
.explain-switch-div {
  cursor: pointer;
  margin: 20px 0;
}
.explain-switch-div i {
  margin-left: 5px;
}
.explain-div {
  color: #999;
  margin-left: 20px;
}
.user-security-title {
  color: #354053;
  text-align: center;
  margin-bottom: 20px;
}
.user-security-div {
  border: 1px solid #999;
  border-radius: 10px;
}
.user-security-div > .title {
  margin: 20px;
}
.user-security-div > .user-security-level-div {
  background-color: #fdfeee;
  margin: 20px 40px;
  height: 30px;
}
.user-security-div > .user-security-level-div > .level-label {
  color: #354053;
  display: inline-block;
  line-height: 30px;
  margin-left: 10px;
}
.user-security-div > .user-security-level-div > .level-status {
  color: #83bb5c;
  display: inline-block;
  line-height: 30px;
  margin: 0 10px;
}
.user-security-div > .user-security-level-div > .suggestion {
  color: #fea255;
  display: inline-block;
  line-height: 30px;
}
.user-security-repeat-div {
  height: 100px;
  overflow: hidden;
  margin: 0 20px;
  border-bottom: 1px solid #b0b0b0;
}
.user-security-repeat-div > .status-img {
  float: left;
  line-height: 100px;
  height: 40px;
  margin: 30px;
}
.user-security-repeat-div > .label-name {
  float: left;
  line-height: 100px;
  margin-top: 0;
}
.user-security-repeat-div > .vertical-line {
  float: left;
  background-color: #b0b0b0;
  height: 30px;
  line-height: 100px;
  width: 2px;
  margin: 35px 40px;
}
.user-security-repeat-div > .label-warning {
  float: left;
  color: #d71729;
  font-weight: bold;
  line-height: 100px;
}
.user-security-repeat-div > .label-value {
  float: left;
  line-height: 100px;
  color: #b7b2b2;
}
.user-security-repeat-div > .label-value span {
  color: #5c5b5c;
}
.user-security-repeat-div > .update-button {
  float: right;
  margin-top: 34px;
  margin-right: 20px;
}
.user-security-repeat-div:last-child {
  border: none;
}
.el-upload__tip {
  width: 500px;
  height: auto;
}
.inputClient-icon,
.inputClient-detail {
  float: left;
  font-size: 12px;
  color: #8391a5;
}
.inputClient-icon {
  padding: 12px;
}
.inputclient-view {
  text-align: center;
}
.el-table th > .cell {
  text-align: center;
}
.createclient-list {
  margin: 20px 0px 10px 60px;
  display: inline-block;
}
.createclient-input {
  width: 200px;
}
.el-table--enable-row-transition .el-table__body td {
  text-align: center;
}
.dictionaryclassifytitle {
  font-weight: 400;
  padding: 0 0 10px 10px;
  border-bottom: 1px solid #bbb;
}
.dictionaryclassify-create {
  border-bottom: 1px dotted #bbb;
  overflow: hidden;
}
.dictionarycreate {
  float: right;
  font-size: 12px;
  margin: 10px;
}
.dictionaryclassify-main .dictionaryclassify-tree {
  width: 100%;
  border: 0;
}
.dictionaryclassify-operation {
  float: right;
  padding-top: 10px;
}
.icon-createchilddependent:before,
.icon-deletechilddependent:before,
.icon-updatechilddependent:before,
.icon-erp-zhiding-:before {
  padding-right: 8px;
  font-size: 14px;
}
.icon-createchilddependent,
.icon-deletechilddependent,
.icon-updatechilddependent,
.icon-erp-zhiding- {
  border: 0;
  font-size: 12px;
}
.dictionarybrand-content {
  overflow: hidden;
  margin-top: 63px;
}
.dictionarybrand-content .icon-deletechilddependent {
  float: right;
}
.dictionaryclassify-main .dictionarybrand-content li {
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
}
.dictionarylabel-introduce {
  padding: 15px;
  font-size: 12px;
}
.label {
  width: 15%;
  padding: 30px 10px 0px 0;
}
.label-content {
  overflow: hidden;
}
.label-operation {
  float: right;
  margin-right: 150px;
}
.updatecategories {
  border: 0;
}
.container .dictionary-wrapper {
  overflow: hidden;
}
.storegetgoods-nav {
  margin: 30px 0px 15px 0px;
  overflow: hidden;
  font-size: 6px;
}
.storegoods-bettersearch {
  border: 0;
  color: #4f9688;
}
.storegetgoodstable {
  font-size: 12px;
}
.storegoods-bettersearchlist {
  margin-top: 20px;
  overflow: hidden;
}
.storegoodslist-create {
  float: right;
}
.createstoregetgoods-number {
  float: left;
  width: 220px;
}
.createstoregetgoods-number-tradenumber {
  float: left;
  width: 350px;
}
.createstoregetgoods-operation {
  float: right;
  margin: 50px;
}
.storegetgoodsdetail-title-right {
  color: #000;
  float: right;
  margin-bottom: 10px;
}
.storegetgoodsdetail-title {
  border-bottom: 1px solid #bbb;
  margin-top: 70px;
}
.storegetgoodsdetail-title-right .storegetgoodsdetail-titleoperation {
  color: #000;
  font-size: 12px;
}
.allocationwrapper {
  overflow: hidden;
}
.couponselect {
  margin: 20px;
}
.addButtonAndSelect {
  margin-left: 150px;
}
.menuline {
  font-size: 17px;
  font-weight: 600;
  padding: 0px 80px;
  letter-spacing: 1px;
}
.createClass {
  margin: 0px 0px 20px 100px;
}
.classify-top-title {
  border-bottom: 1px solid #ccc;
  padding: 20px 0px 20px 50px;
  margin-bottom: 30px;
}
.current-selection {
  padding-left: 60px;
}
.dialog-footer-base {
  float: right;
  padding: 30px 150px 0px 0px;
}
.selectform-add {
  border: 0;
  margin-left: 123px;
  padding: 0;
  font-size: 28px;
}
